Pandas Library:
Useful for data processing and analysis.

Pandas Data Frame:
Pandas DataFrame is 2-dimensional tabular data structure with labeled axes (rows and columns).

In [134]:
import pandas as pd

In [135]:
df = pd.read_csv('train.csv')

In [136]:
# Checking the data types of the columns
df.dtypes

developerCountry                    object
countryCode                         object
userRatingCount                      int64
primaryGenreName                    object
downloads                           object
deviceType                          object
hasPrivacyLink                      object
hasTermsOfServiceLink               object
hasTermsOfServiceLinkRating         object
isCorporateEmailScore              float64
adSpent                            float64
appAge                             float64
averageUserRating                  float64
appContentBrandSafetyRating         object
appDescriptionBrandSafetyRating     object
mfaRating                           object
dtype: object

In [137]:
# Checking dataframe shape (rows, columns)
df.shape

(7000, 16)

In [138]:
# Checking the first 5 rows of the dataframe
df.head()

,developerCountry,countryCode,userRatingCount,primaryGenreName,downloads,deviceType,hasPrivacyLink,hasTermsOfServiceLink,hasTermsOfServiceLinkRating,isCorporateEmailScore,adSpent,appAge,averageUserRating,appContentBrandSafetyRating,appDescriptionBrandSafetyRating,mfaRating
0,NORWAY,RO,127731,Sports,NaN,smartphone,True,True,low,99.0,14.017220,160.400000,4.0,medium,low,low
1,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Medical,50 - 100,GLOBAL,True,NaN,NaN,99.0,NaN,17.500000,0.0,NaN,low,low
2,UNITED ARAB EMIRATES,CZ,51143,Games,50000000 - 100000000,GLOBAL,True,True,low,0.0,31.883163,30.766667,4.0,NaN,low,low
3,GERMANY,GLOBAL,1074,Games,NaN,GLOBAL,True,NaN,NaN,99.0,NaN,71.533333,4.0,NaN,low,low
4,CANNOT IDENTIFY COUNTRY,GLOBAL,17,Tools,1000 - 5000,GLOBAL,True,NaN,NaN,99.0,NaN,52.400000,4.0,NaN,low,low

In [139]:
# Checking the last 5 rows of the dataframe
df.tail()

,developerCountry,countryCode,userRatingCount,primaryGenreName,downloads,deviceType,hasPrivacyLink,hasTermsOfServiceLink,hasTermsOfServiceLinkRating,isCorporateEmailScore,adSpent,appAge,averageUserRating,appContentBrandSafetyRating,appDescriptionBrandSafetyRating,mfaRating
6995,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Utilities,NaN,GLOBAL,True,NaN,NaN,99.0,NaN,26.266667,0.0,NaN,low,low
6996,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Business,NaN,GLOBAL,True,NaN,NaN,NaN,NaN,23.800000,0.0,NaN,low,low
6997,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Personalization,10 - 50,GLOBAL,True,NaN,NaN,0.0,NaN,27.500000,NaN,NaN,medium,low
6998,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Business,10 - 50,GLOBAL,True,False,high,99.0,NaN,124.033333,0.0,NaN,low,low
6999,CANNOT IDENTIFY COUNTRY,GLOBAL,0,Entertainment,500 - 1000,GLOBAL,True,False,high,0.0,NaN,61.066667,NaN,NaN,low,low

In [140]:
# Checking the type of the dataframe
type(df)

pandas.core.frame.DataFrame

In [141]:
# Exporting a DataFrame to a CSV file or Excel file
# Uncomment the line below to save the DataFrame to a CSV file
# df.to_csv('train_copy.csv', index=False)
# Uncomment the line below to save the DataFrame to an Excel file
# df.to_excel('train_copy.xlsx', index=False)

In [142]:
# Finding missing values in the DataFrame
df.isnull()

,developerCountry,countryCode,userRatingCount,primaryGenreName,downloads,deviceType,hasPrivacyLink,hasTermsOfServiceLink,hasTermsOfServiceLinkRating,isCorporateEmailScore,adSpent,appAge,averageUserRating,appContentBrandSafetyRating,appDescriptionBrandSafetyRating,mfaRating
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,True,False,False,True,True,False,True,False,False,True,False,False
4,False,False,False,False,False,False,False,True,True,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,False,False,False,False,True,False,False,True,True,False,True,False,False,True,False,False
6996,False,False,False,False,True,False,False,True,True,True,True,False,False,True,False,False
6997,False,False,False,False,False,False,False,True,True,False,True,False,True,True,False,False
6998,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
6999,False,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False

In [143]:
# Finding the number of missing values in each column
df.isnull().sum()

developerCountry                      0
countryCode                          64
userRatingCount                       0
primaryGenreName                      0
downloads                          2149
deviceType                            0
hasPrivacyLink                      750
hasTermsOfServiceLink              4635
hasTermsOfServiceLinkRating        4635
isCorporateEmailScore              1128
adSpent                            5679
appAge                               50
averageUserRating                  1232
appContentBrandSafetyRating        6162
appDescriptionBrandSafetyRating       0
mfaRating                             0
dtype: int64

In [144]:
# Finding the percentage of missing values in each column
for column in df.columns:
    missing_percentage = df[column].isnull().mean() * 100
    print(f"{column}: {missing_percentage: .2f}%")

developerCountry:  0.00%
countryCode:  0.91%
userRatingCount:  0.00%
primaryGenreName:  0.00%
downloads:  30.70%
deviceType:  0.00%
hasPrivacyLink:  10.71%
hasTermsOfServiceLink:  66.21%
hasTermsOfServiceLinkRating:  66.21%
isCorporateEmailScore:  16.11%
adSpent:  81.13%
appAge:  0.71%
averageUserRating:  17.60%
appContentBrandSafetyRating:  88.03%
appDescriptionBrandSafetyRating:  0.00%
mfaRating:  0.00%

In [145]:
# Counting the number of unique values in each column
df.nunique()

developerCountry                    114
countryCode                         119
userRatingCount                    1528
primaryGenreName                     46
downloads                            26
deviceType                            5
hasPrivacyLink                        2
hasTermsOfServiceLink                 2
hasTermsOfServiceLinkRating           2
isCorporateEmailScore                 2
adSpent                            1321
appAge                             3194
averageUserRating                     6
appContentBrandSafetyRating           3
appDescriptionBrandSafetyRating       3
mfaRating                             3
dtype: int64

In [146]:
# Counting the values based on a specific column
df.value_counts('downloads')

downloads
100 - 500                    699
10 - 50                      673
1000 - 5000                  591
10000 - 50000                396
500 - 1000                   324
50 - 100                     310
100000 - 500000              270
1000000 - 5000000            248
1 - 5                        221
5 - 10                       201
5000 - 10000                 185
10000000 - 50000000          173
50000 - 100000               169
500000 - 1000000             124
5000000 - 10000000           111
0 - 1                         63
100000000 - 500000000         34
50000000 - 100000000          28
1 - 1                         11
10 - 1                         9
5 - 1                          4
10000000000 - 15000000000      2
500000000 - 1000000000         2
500 - 1                        1
50 - 1                         1
1000000000 - 5000000000        1
Name: count, dtype: int64

In [147]:
# Counting the values based on multiple columns
df.value_counts(['deviceType', 'hasPrivacyLink'])

deviceType        hasPrivacyLink
GLOBAL            True              5236
smartphone        True               717
tablet            True               213
GLOBAL            False               61
connected-tv/ott  True                12
undetermined      True                11
Name: count, dtype: int64

In [148]:
# Group the values based on a specific column and calculate the mean of numeric columns
df.groupby('deviceType').mean(numeric_only=True)

,userRatingCount,isCorporateEmailScore,adSpent,appAge,averageUserRating
deviceType,,,,,
GLOBAL,26271.003805,44.596745,6679.517414,58.470416,2.280198
connected-tv/ott,339527.916667,49.500000,17.008207,55.955556,3.545455
smartphone,67079.105850,50.678571,2449.901480,48.538796,3.541787
tablet,76842.500000,57.915000,248.045973,48.025943,3.528571
undetermined,40863.909091,36.000000,8.746809,36.921212,3.800000

In [149]:
# Group the values based on multiple columns and calculate the mean of numeric columns
df.groupby(['deviceType', 'hasPrivacyLink']).mean(numeric_only=True)

                                 userRatingCount  isCorporateEmailScore  \
deviceType       hasPrivacyLink
GLOBAL           False                 27.114754              45.000000
                 True               30326.510122              46.108066
connected-tv/ott True              339527.916667              49.500000
smartphone       True               67172.490934              50.754098
tablet           True               77202.779343              57.708543
undetermined     True               40863.909091              36.000000

                                     adSpent      appAge  averageUserRating
deviceType       hasPrivacyLink
GLOBAL           False                   NaN  102.074011           2.210526
                 True            6679.517414   54.205845           2.335482
connected-tv/ott True              17.008207   55.955556           3.545455
smartphone       True            2449.901480   48.545676           3.541126
tablet           True             249.628935   47.585466           3.531100
undetermined     True               8.746809   36.921212           3.800000

Statistical Measures

In [150]:
# Count the number of values
df.count()

developerCountry                   7000
countryCode                        6936
userRatingCount                    7000
primaryGenreName                   7000
downloads                          4851
deviceType                         7000
hasPrivacyLink                     6250
hasTermsOfServiceLink              2365
hasTermsOfServiceLinkRating        2365
isCorporateEmailScore              5872
adSpent                            1321
appAge                             6950
averageUserRating                  5768
appContentBrandSafetyRating         838
appDescriptionBrandSafetyRating    7000
mfaRating                          7000
dtype: int64

In [151]:
# Counting the stastistics of the DataFrame
df.describe()

,userRatingCount,isCorporateEmailScore,adSpent,appAge,averageUserRating
count,7.000000e+03,5872.000000,1.321000e+03,6950.000000,5768.000000
mean,3.256274e+04,45.740293,3.977563e+03,57.093060,2.482490
std,5.501431e+05,49.361215,9.219919e+04,37.169895,1.905712
min,0.000000e+00,0.000000,7.038525e-03,0.533333,0.000000
25%,0.000000e+00,0.000000,1.086920e+00,27.533333,0.000000
50%,1.000000e+00,0.000000,7.945580e+00,52.866667,3.000000
75%,8.800000e+01,99.000000,4.908375e+01,80.000000,4.000000
max,3.854334e+07,99.000000,3.143906e+06,196.466667,5.000000

In [152]:
# Or specific statistics of the DataFrame
df.mean(numeric_only=True)

userRatingCount          32562.735571
isCorporateEmailScore       45.740293
adSpent                   3977.562766
appAge                      57.093060
averageUserRating            2.482490
dtype: float64

In [153]:
df.median(numeric_only=True)

userRatingCount           1.000000
isCorporateEmailScore     0.000000
adSpent                   7.945580
appAge                   52.866667
averageUserRating         3.000000
dtype: float64

In [154]:
# Adding column to the DataFrame
target_df = pd.read_csv('target.csv')
df['target'] = target_df['coppaRisk']

In [132]:
# Removing a row
df.drop(index=0, axis=0, inplace=True)
# Removing a column
df.drop(columns='target', axis=1, inplace=True)

In [155]:
df

,developerCountry,countryCode,userRatingCount,primaryGenreName,downloads,deviceType,hasPrivacyLink,hasTermsOfServiceLink,hasTermsOfServiceLinkRating,isCorporateEmailScore,adSpent,appAge,averageUserRating,appContentBrandSafetyRating,appDescriptionBrandSafetyRating,mfaRating,target
0,NORWAY,RO,127731,Sports,NaN,smartphone,True,True,low,99.0,14.017220,160.400000,4.0,medium,low,low,False
1,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Medical,50 - 100,GLOBAL,True,NaN,NaN,99.0,NaN,17.500000,0.0,NaN,low,low,False
2,UNITED ARAB EMIRATES,CZ,51143,Games,50000000 - 100000000,GLOBAL,True,True,low,0.0,31.883163,30.766667,4.0,NaN,low,low,False
3,GERMANY,GLOBAL,1074,Games,NaN,GLOBAL,True,NaN,NaN,99.0,NaN,71.533333,4.0,NaN,low,low,False
4,CANNOT IDENTIFY COUNTRY,GLOBAL,17,Tools,1000 - 5000,GLOBAL,True,NaN,NaN,99.0,NaN,52.400000,4.0,NaN,low,low,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Utilities,NaN,GLOBAL,True,NaN,NaN,99.0,NaN,26.266667,0.0,NaN,low,low,False
6996,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Business,NaN,GLOBAL,True,NaN,NaN,NaN,NaN,23.800000,0.0,NaN,low,low,False
6997,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Personalization,10 - 50,GLOBAL,True,NaN,NaN,0.0,NaN,27.500000,NaN,NaN,medium,low,False
6998,ADDRESS NOT LISTED IN PLAYSTORE,GLOBAL,0,Business,10 - 50,GLOBAL,True,False,high,99.0,NaN,124.033333,0.0,NaN,low,low,False
6999,CANNOT IDENTIFY COUNTRY,GLOBAL,0,Entertainment,500 - 1000,GLOBAL,True,False,high,0.0,NaN,61.066667,NaN,NaN,low,low,False

In [ ]:
# Locating a specific row and column using the index value
df.iloc[0:2, 1:4] # Selecting rows 0 to 1 and columns 1 to 3

  countryCode  userRatingCount primaryGenreName
0          RO           127731           Sports
1      GLOBAL                0          Medical

In [ ]:
# Locating a specific row and column using the column name
df.loc[0:2, ['deviceType', 'hasPrivacyLink']]  # Selecting rows 0 to 2 and specific columns

   deviceType hasPrivacyLink
0  smartphone           True
1      GLOBAL           True
2      GLOBAL           True

In [168]:
# Displaying correlation between columns
df.corr(numeric_only=True)

,userRatingCount,isCorporateEmailScore,adSpent,appAge,averageUserRating,target
userRatingCount,1.000000,0.048894,0.869652,0.089170,0.050531,0.065432
isCorporateEmailScore,0.048894,1.000000,0.034553,0.123663,-0.107182,0.041968
adSpent,0.869652,0.034553,1.000000,0.088574,0.018537,0.043048
appAge,0.089170,0.123663,0.088574,1.000000,0.118700,-0.000403
averageUserRating,0.050531,-0.107182,0.018537,0.118700,1.000000,0.094430
target,0.065432,0.041968,0.043048,-0.000403,0.094430,1.000000